<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Angular JS Form Validation</title>
    <link rel="stylesheet" href="css/styles.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <section class="card register" ng-app="myApp" ng-controller="registrationController">
          <div class="textintro">
            <h1>Form Validation</h1>
            <p>Please fill out the following form</p>
            <p ng-show="message">{{ message }}</p>
          </div>

          <fieldset>
            <form name="myForm" ng-submit="register()">
              <div class="form-group">
                <input type="text" ng-model="user.firstName" class="form-control" name="firstname" placeholder="First Name" ng-required="true">
                <p class="error validation error" ng-show="myForm.firstname.$invalid && myForm.firstname.$touched">You must fill out the First Name</p>
              </div>
              <div class="form-group">
                <input type="text" ng-model="user.lastName" class="form-control" name="lastname" placeholder="Last Name" ng-required="true">
                <p class="error validation error" ng-show="myForm.lastname.$invalid && myForm.lastname.$touched">You must fill out the Last Name</p>
              </div>
              <div class="form-group">
                <input type="email" ng-model="user.email" class="form-control" name="email" placeholder="Email">
                <p class="error validation error" ng-show="myForm.email.$invalid && myForm.email.$touched">You must fill out the Email</p>
              </div>
              <div class="form-group">
                <input type="password" ng-model="user.password" class="form-control" name="password" placeholder="Password" ng-minlength="6">
                <p class="error validation error" ng-show="myForm.password.$invalid && myForm.password.$touched">Password must be atleast 6 characters</p>

              </div>
            </form>
          </fieldset>

          <button type="submit" name="button" class="btn btn-primary">submit</button>
        </section>
      </div>
    </div>
  </body>
</html>
